.bg-dark{
    background-color: #001B3A !important;
    box-shadow: 2px 2px #c4dfff;
    position: fixed;
  top: 0;
  width: 99vw;
} 
.language{
    padding-left: 5px;
    padding-right: 5px;
}
.welcome-heading{
    color: white;
    font-size: 25px;

}
img{
    width: 25px;
}