.bg-dark{
    background-color: #171c22 !important;
    // box-shadow: 2px 2px #c4dfff;
    // position: fixed;
  top: 0;

} 
.language{
    padding-left: 5px;
    padding-right: 5px;
}
.welcome-heading{
    color: white;
    font-size: 25px;
    color:#d5f5ec;

}
img{
    width: 25px;
}